{% extends "header.html" %}

{% block content %}

    <h3> What is an Alumni Member? </h3>
    <div class="par">
        An Alumni Member is a special registration category for people who, for various 
        reasons, decide to no longer provide emergency care or rescue services, but wish 
        to continue their relationship with the National Ski Patrol.
        
        <br><BR>
        
        The NSP created the Alumni Member category in 1977 as a way to facilitate contact 
        with former members and keep them informed of national events and activities. 
        Today, there are over 2,000 alumni and secondary alumni members affiliated with NSP.
    </div>
    
    <h3> Why Should You Join? </h3>
    <div class="par">
        By joining as an Alumni Member, you can continue your involvement with the largest 
        winter rescue organization in the world and support the NSP on a new level. If you 
        wish, you can continue to contribute to your patrol.

        <br><BR>
        
        As an alumni member, you won’t be required to fulfill any skill or educational 
        requirements; however, you may decide to keep your instructorships current and serve 
        as an instructor or in another capacity to local units of NSP.

        <BR><BR>
        
        Several ski areas have already incorporated alumni patrollers in their operations and 
        taken advantage of their alumni’s local knowledge and experience. Alumni often attend 
        ski patrol PR events, help recruit new members, provide administrative help, give 
        safety talks, participate in other community service activities, and are a valued force 
        within NSP.

        <BR><BR>
        
        Regardless of the scope of your involvement, becoming an Alumni Member enables you to 
        contribute to the success of ski patrolling at both the local and national level.

        If at any time you decide you want to return to patrolling, simply follow the 
        registration requirements with your patrol.
    </div>

    <h3>
        <a name="benefits" class="anchor" href="#benefits">
            <span class="octicon octicon-link"></span>
        </a>
        Other Benefits
    </h3>
    
    <div class="par">
        As an Alumni Member of the NSP, you will receive:

        <ul>
        <li>Continues service years and Member voting rights</li>
        <li>A subscription to Ski Patrol Magazine</li>
        <li>Access to NSP website at <a href="http://www.nsp.org">nsp.org</a></li>
        <li>NSP Winter Catalog</li>
        <li>Opportunities to participate in all NSP-sponsored events</li>
        <li>You can easily change back and forth from alumni to active patrolling by following patrol  
              requirements</li>
        <li>You membership dues may be tax deductible</li>
        <li>You may be listed with your home patrol on their secondary roster</li>
        </ul>
    </div>
    
    <h3>
        <a name="cost" class="anchor" href="#cost">
            <span class="octicon octicon-link"></span>
        </a>
        How Much Does It Cost?
    </h3>
    <div class="par">
        Alumni dues are only $27 annually, $17 of which covers program administrative costs; 
        the remaining $10 is returned to the division with which the Alumni Member is affiliated. 
        For more info, please contact the National office.
        
        <BR><BR>
        Active members who are lifetime members keep that status upon changing their membership 
        status to Alumni Member. Patrollers who wish to become lifetime Alumni Members can do 
        so for a one-time fee of $550, which helps support the NSP endowment fund. Lifetime 
        members receive a Lifetime Membership Pin and a walnut-framed certificate.
    </div>
    
    <h3>
        <a name="join" class="anchor" href="#join">
            <span class="octicon octicon-link"></span>
        </a>
        Join
    </h3>
    <div class="par">        
        Download this 
        <a href="http://www.nsp.org/about/nsp_programs/documents/alumnibrochure.pdf">
        alumni form 
        </a>
        and send it back to NSP, along with your payment.
        <br>
        
        For more information, contact program advisor Madeline Wright at alumni@socalnsp.org.
    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Madeline Wright<br>
        alumni@socalnsp.org <br>
    </div>
    
{% endblock %}