{% extends "header.html" %}

{% block content %}

    <div class="par">
        The NSP Avalanche program is targeted toward educating both general public, and
        more so ski patrollers, to snow science, travel, and rapid and effective rescue
        in avalanche terrain. The NSP Avalanche courses fulfill all of the requirements
        of the level I and II curricula adopted by the
        <a href="http://www.americanavalancheassociation.org/">
        American Avalanche Association</a>
        with one important exception; the NSP courses includes additional topics related to
        organized rescue.
    </div>

    <h3> Links </h3>
    <div class="par"><b>
        <a href="https://drive.google.com/file/d/0B8qM4PoeplmcdVFWVnF5SFRsb1U/view">
        Level I Avalanche Course Info</a>
        <br>
        <a href="https://drive.google.com/file/d/0B8qM4PoeplmceXlYWGtJeldlUW8/view">
        Level II Avalanche Course Info</a>
    </b></div>

    <h3> Program Supervisor </h3>
    <div class="par">
        Jeff Pierce <br>
        avalanche@socalnsp.org <br>
    </div>

{% endblock %}