{% extends "header.html" %}

{% block content %}

    <h3> Awards for Southern California Region </h3>
    <!--div class="par"-->
        <ul>
            <li> Outstanding Administrative Patroller </li>
            <li> Outstanding Nordic Patrol </li>
            <li> Outstanding Alpine Patrol - Large </li>
            <li> Outstanding Nordic Patroller </li>
            <li> Outstanding Alpine Patrol - Small </li>
            <li> Outstanding OEC Instructor </li>
            <li> Outstanding Alpine Patroller </li>
            <li> Outstanding Paid Patroller </li>
            <li> Outstanding Auxiliary Patroller</li>
            <li> Outstanding Patrol Representative </li>
            <li> Outstanding Instructor </li>
            <li> Outstanding Young Adult Patroller </li>    
    
            <li> Outstanding Adminstrative Patroller 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
            <li> Outstanding Nordic Patrol
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Alpine Patrol - Large
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Nordic Patroller 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Alpine Patrol - Small 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding OEC Instructor 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Alpine Patroller 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Paid Patroller 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Auxiliary Patroller
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Patrol Representative 
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        
            <li> Outstanding Instructor
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
    
            <li> Outstanding Young Adult Patroller
                <table> 
                    <tr><td>2006</td></tr>
                    <tr><td>2007</td></tr>
                    <tr><td>2008</td></tr>
                    <tr><td>2009</td></tr>
                    <tr><td>2010</td></tr>
                    <tr><td>2011</td></tr>
                </table>
            </li>
        </ul>
    <!--/div-->
    
    <h3> Division </h3>
    <div class="par">
        For awards at the division level, 
        <a href="http://farwest.org/?page=Awards/index.htm">
        click here.</a>
    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Barbara Baxter <br>
        awards@socalnsp.org <br>
    </div>


{% endblock %}