{% extends "header.html" %}

{% block content %}
    <h3> The Certified Program </h3>
    <div class="par">
        The Certified Program enables patrollers to build upon experiences gained while 
        patrolling and through other NSP programs.  This program requires independent 
        training and advance research in order complete the modules and receive certification.
        
        <BR><BR>
        
        The certified candidate should possess extensive knowledge of patrol and area 
        operations, as well as physical dexterity and skills in leadership, instruction, 
        problem management, and decision-making. More importantly, the individual must have 
        an aptitude for team building and experience in planning programs to facilitate the 
        success of the program and area operations.
        
        <br><br><b>
        <a href="https://drive.google.com/folderview?id=0B8qM4PoeplmcfkNrMDA5Z1hBLWx5WHNFZTdwWC1uUjAtZ3BWeDZZNTZFTHR1cC1SOS1CMVk&usp=sharing">
        Click here for the Certified Program study guides
        </a></b>
        <Br><BR>
        
        The program consists of nine ski patrol disciplines:
        
        <ol>
            <li> Skiing, Snowboarding and Telemarking
                <ul>
                <li> Professional Ski Instructors of America (PSIA) </li>
                <li> American Association of Snowboard Instructors (AASI) </li>
                <li> American Heart Association </li>
                </ul>
            </li>
            <li> Medical
                <ul>
                <li> 5th Edition Outdoor Emergency Care </li>
                <li> Emergency Medical Technician Text </li>
                <li> American Red Cross (ARC) </li>
                <li> American Heart Association </li>
                </ul>
            </li>
            <li> Sled Handling
                <ul>
                <li> Association of Professional Patrollers - Criteria Coordinator - 
                     Patrollers Training Manual (Local Protocol) </li>
                <li> APP 2011-Study Guide </li>
                </ul>
            <li> Risk Management
                <ul>
                <li> National Ski Areas Association (NSAA) Accident Investigation Manual </li>
                <li> (NSAA) "Your Responsibility Code"  </li>
                <li> www.terrainparksafety.org  </li>
                <li> Federal, State and Local Laws and Ordinances </li>
                </ul>
            <li> Hill Safety
                 <ul>
                 <li> American National Standards Institute (ANSI) B77.1 </li>
                 <li> (Lift Manufacturers Operational Manuals </li>
                 <li> (NSAA) Lift Evacuation Manual </li>
                 <li> (NSAA) Freestyle Terrain Notebook </li>
                 <li> Smart Style, Get Smart </li>
                 <li> <a href="www.terrainparksafety.org">www.terrainparksafety.org</a> </li>
                 <li> Local Ski Area Protocol </li>
                 <li> APP-Study Guide (2011) </li>
                 </ul>
            </li>
            <li> Rope Rescue
                <ul>
                <li> Mountaineering: The Freedom of the Hills-Graydon </li>
                <li> National Ski Areas Association and National Ski Patrol: The Lift Evacuation Manual </li>
                <li> www.osha.gov </li>
                <li> Local Ski Area Protocol </li>
                <li> APP-2011 Study Guide </li>
                </ul>
            </li>
            <li> Avalanche Rescue
                <ul>
                <li> Avalanche Handbook: McClung and Schaerer </li>
                <li> Transceiver Manufacturers' Instruction Manuals and Websites (Examples Below) </li>
                <li> Ortovox          BCA </li>
                <li> Barryvox        SOS </li>
                <li> Pieps             ARVA </li>
                <li> American Avalanche Association </li>
                <li> Local Ski Area Protocol and Avalanche Rescue Plan </li>
                </ul>
             </li>
            <li> Avalanche Science
                <ul>
                <li> Avalanche Handbook </li>
                <li> <a href="http://www.americanavalancheassociation.org">AmericanAvalancheAssociation.org </a></li>
                <li> <a href="http://www.avalanche.org/research/guidelines/"> Guidelines </a></li>
                <li> Level One and Two NSP Avalanche Courses </li>
                <li> Local Ski Area Protocol </li>
                <li> APP Study Guide-2011 </li>
                </ul>
            </li>
            <li> Explosives
                <ul>
                <li> The Avalanche Handbook </li>
                <li> International Society of Explosives Engineers (ISEE) "Blasters Handbook" </li>
                <li> Occupational Safety and Health Administration (OSHA) </li>
                <li> Explosive General Industry Safety Orders </li>
                <li> Explosives Manufacturers' Web Sites </li>
                <li> State Explosives Regulations </li>
                <li> Bureau of Alcohol, Tobacco, Firearms and Explosives (BATF&E) </li>
                <li> Federal Explosives Laws and Regulations </li>
                <li> Association of Professional Patrollers-Study Guide 2011 </li>
                <li> Southern California-CERTIFIED CONTACTS </li>
                </ul>
            </li>
        </ol>
    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Mark Giebel <br>
        certified@socalnsp.org
        
        <br>        
        Website :  <a href="http://www.propatrollers.org">Association of Professional Patrollers (APP) </a>
    </div>
    
{% endblock %}
