{% extends "header.html" %}

{% block content %}
    
    <h3> Instructor Development Program – The Road to Becoming an NSP Instructor </h3>
    
    <div class="par">
        The National Ski Patrol Instructor Development Program, the first step on the 
        road to become an NSP Instructor, now has two course options available to 
        patrollers who want to become an instructor in any of the five NSP educational 
        disciplines:
        
        <ol>
            <li> Avalanche </li>
            <li> Mountain Travel and Rescue </li>
            <li> Outdoor Emergency Care </li>
            <li> Outdoor Emergency Transportation </li>
            <li> Instructor Development </li>
        </ol>                
        
    <br>
        The Instructor Development Program consists of two components:
        
        <ol>
            <li> The Instructor Development Course </li>
            <li> The Instructor Mentoring Program </li>
        </ol>

    <BR>
        The Instructor Development Course consists of a series of presentations, activities 
        and discussion opportunities and is available through a one-day class or via a new 
        online e-course session with a shorter one-half day classroom session. The course 
        covers such topics as principles of teaching adults, learning styles, teaching methods, 
        lesson planning, and evaluation techniques. It also offers the instructor candidate 
        the chance to do a practice teaching session.
        
        <br><BR>
        
        The new e-course option allows the student to complete the didactic portion of the 
        course on-line at their convenience, including a written test and printed certificate, 
        and then to attend a required one-half day class session. The e-course classroom session 
        includes a peer-to-peer teaching session using the six-pack tool, and also includes a 
        quick review of the didactic material from the on-line module, plus discussions and 
        demonstrations covering course administration and forms, instructor manuals, use of 
        the NSP and Instructor web sites, job descriptions and responsibilities, the mentoring 
        program, and the next steps to become an instructor in their discipline of choice.
        
        <BR><BR>
        
        The Instructor Development textbook, Instructor Development; Training The Adult 
        Learner, is now a free .pdf file download available on the NSP website under the 
        Education tab and the Instructor Development Program? header. This book should be 
        downloaded and printed, and be used as a resource for either version of the Instructor 
        Development Course.
        
        <BR><BR>
         
        The new e-course option, which costs $15.00, can be taken at anytime, and can be 
        accessed through the NSP website under the new NSP E-Learning quick-link. Upon 
        completion of the e-course session, the student should contact an Instructor Development 
        Instructor in their region to complete the classroom session of the course.
        
        <BR><BR>
        
        After completion of the Instructor Development Course, the instructor candidate will 
        enter the second component of the Instructor Development Program, the Instructor 
        Mentoring Program, in the discipline in which he or she is interested in teaching. 
        This component gives the instructor candidate actual teaching and administrative 
        experience under the guidance of an experienced NSP Instructor and Instructor Trainer 
        in that discipline and prepares them for certification as an NSP Instructor.
        
        <BR><BR>
        
        For more information on the Instructor Development Program for the Southern California 
        Region, or if you are interested in attending an Instructor Development Course or 
        would like the course offered to your patrol, please contact the program director. 
    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Douglas Hill <br>
        instructordevelopment@socalnsp.org
    </div>
    
{% endblock %}