{% extends "header.html" %}

{% block content %}
    <img class="im_right" height="250px" src="{{ url_for('static', filename='images/MTR1.png') }}"></img>
    
    <h3> Mountain Travel & Rescue </h3>
    <div class="par">
        Attendees taking Mountain Travel & Rescue (MTR) courses will learn a variety of skills, 
        including nutrition and how the body performs in a wilderness environment, weather 
        patterns, survival skills, working with group dynamics, an introduction to search 
        and rescue, rope rescue skills, improvised toboggan construction, and land navigation 
        with map, compass, and GPS. The MTR courses are taught in classroom and field sessions, 
        including mock scenarios to ensure the attendees can apply what they have learned to 
        real life situations.

        <BR><BR>
        
        Whether you are an outdoor enthusiast looking to expand your survival and travel 
        skills in the backcountry environment or a ski patroller preparing for one of the 
        worst possible scenarios a parent can face at a ski area (a lost child), the MTR 
        courses can help you get prepared.
    </div>
    
    <img class="im_left" height="250px" src="{{ url_for('static', filename='images/MTR2.png') }}"></img>
    
    <h3> MTR I </h3>
    <div class="par">
        An elective for senior and the basic for overnight travel in a winter environment. 
        This class provides you the basic for survival in a winter environment and prepares 
        a patroller for becoming a backcountry rescuer and skier.  All who take this course 
        are recommended to complete the Level I Avalanche.
    </div>
    
    <h3> MTR II </h3>
    <div class="par">
        For the serious ski patroller that is interested in getting involved in Search and 
        Rescue or backcountry skiiing. Includes a field check out, a low angle resuce and 
        rope work day, and a three day, two night travel in the backcountry using skis with 
        skins. The Level II Avalanche course is recommended.
    </div>
    
    <h3> Registration </h3>
    <div class="par">
        <a href="https://drive.google.com/open?id=0B8qM4PoeplmcWng1clIzQUpwOHc">
        Registration Application 2015/2016
        </a>
        <br>
        <a href="https://drive.google.com/open?id=0B8qM4PoeplmcS1U3SnQzLVpVZ1U">
        Agenda 2015/2016
        </a>
    
        <div data-wst-duda="hide">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KQ589RWFLF2V8">
            
            <br> Select Basic or Advanced <br>
            
            <select name="os0">
                <option value="Basic">Basic $77.50 USD</option>
                <option value="Advanced">Advanced $155.00 USD</option>
            </select>
            <br>
            
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        </div>
    
    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Natalie Muraciov <br>
        mountaineering@socalnsp.org
    </div>
    
{% endblock %}