{% extends "header.html" %}

{% block content %}
    <h3> Outdoor Emergency Care </h3>
    <div class="par">
        Outdoor Emergency Care® is the NSP’s award-winning training program for patrollers
        and others in the recreation community who deal with emergency situations. This
        nationally recognized program is designed to help you manage the toughest emergencies,
        in all seasons. Developed in the late 1980s for the 26,000 members of the National
        Ski Patrol, Outdoor Emergency Care is a training program that is tailored to the
        nonurban rescuer. Over the years, OEC has evolved to address the needs of other
        outdoor-based emergency care providers too, including wilderness medical technicians,
        river rafting and mountaineering guides, members of search and rescue groups, mountain
        bike patrollers, and parks and recreation employees. Today, OEC is considered the
        standard of training for emergency care in the outdoor environment and is recognized
        by resorts and recreational facilities in all 50 states.
    </div>

    <h3> Program Supervisor </h3>
    <div class="par">
        Steve Sue <br>
        oec@socalnsp.org
    </div>

{% endblock %}