{% extends "header.html" %}

{% block content %}
    <h3> California Winter Search & Rescue Ski Patrol </h3>
    <div class="par">
        We have the very first ski patrol dedicated to search and rescue in the country.
        Our team is made up of National Ski Patrollers in the Far West Division.
        Our team reports to the State of California's Emergency Management Agency (Cal EMA).
        The patrol is divided into two ski patrols in the Far West Division. Mike St.Clair
        is the patrol representative for the California Winter Search & Rescue Ski Patrol
        South and Mike Kelley is the patrol representative for the California Winter Search
        & Rescue Ski Patrol North.

        <BR><BR>

        If there is a rescue in California, and it is in snow, and the county that is doing
        the search is in need of a Winter team, Cal EMA dispatch calls us. Our team specializes
        in winter travel, rescue, survival, and travel in avalanche terrain.

        <BR><BR>

        The requirement to be on the team is you must have completed MTR 2, or be a Nordic
        Senior. The training for Winter SAR starts at that point. You must also be able to
        ski backcountry by skiing telmark or alpine touring with a 30 lb pack.  Some of the
        skills you need to be able to work with are navigation, GPS, avalanche rescue, rope
        rescue, helicopter operations, advanced backcountry skiing, and transporting injured
        lost folks.  This is only a partial list.  But don't worry, if you are not an expert
        in these areas, we will teach you.

        <BR><BR>

        Please see the Calendar for training dates and locations. If you want to go above and
        beyond the normal patrol duties, come check us out. If this looks like fun, email us!

    </div>
    <h3> Program Supervisor </h3>
    <div class="par">
        Mike St. Clair <br>
        wintersar@yahoo.com
    </div>

{% endblock %}