{% extends "header.html" %}

{% block content %}
    <h3> Senior Program </h3>
    <div class="par">
        The senior program is open for all NSP members who aspire to a higher level of 
        patrolling.  It is geared towards Patrollers with three or more years experience and 
        completed both the Avalanche 1 and Mountain Travel & Rescue 1 courses. The program 
        provides a forum in which Patrollers can enhance personal skiing/snowboarding and 
        toboggan-handling proficiency, improve their ability to manage outdoor emergency 
        care, and expand their patrolling knowledge and skills. The Senior Program is also 
        excellent preparation for Patrollers looking to move into leadership roles in NSP 
        and the Certified Patroller program.

        <BR><BR>
        
        The Senior program consists of six core and elective requirements. It is designed 
        for Alpine, Nordic, and Auxiliary Patrollers, with variations for each discipline.
        
        <BR><BR>

        Training is an essential part of the Senior Program. Senior Candidates are expected 
        to spend a significant amount of time reviewing Senior criteria and using the required 
        knowledge and skills to practice scenarios on challenging, senior-level, terrain under 
        various conditions in the patrolling environment. 
    </div>

    <h3> Program Supervisor </h3>
    <div class="par">
        Gregg Nolan <br>
        senior@socalnsp.org
    </div>
    
{% endblock %}