{% extends "header.html" %}

{% block content %}

    <h3> Ski & Toboggan Program </h3>
    <div class="par">
        The National Ski Patrol Ski and Toboggan Programs consist of two courses; Senior 
        Skiing / Snowboarding (S/S), and Outdoor Emergency Transportation (OET). Both are core 
        courses of the NSP Senior Patroller Program, and to be eligible to participate in 
        these courses the Patroller must first become a Candidate in the Senior Patroller 
        Program.

        <BR><BR>
        
        The Senior Skiing / Snowboarding course is conducted in a clinic setting where 
        Senior S/S Instructors work with the Candidate to raise his / her level of skiing 
        or snowboarding skills to a Senior Patroller level primarily in long, medium, and 
        short radius turns in all conditions and terrains.  Passing the S/S course is a 
        prerequisite to a Candidate taking Outdoor Emergency Transportation, OET.  OET is 
        also taught in a clinic setting and the Candidate learns advanced techniques in 
        toboggan handling in various terrains and conditions. 
        
        <BR><BR>

        These are very enjoyable and rewarding programs.  We are on our skis / boards in the 
        outdoors, which is one of the reasons we became Patrollers in the first place, and 
        they are conducted with the <b>SFL</b> philosophy: <b>S</b>afety first, have <b>F</b>un, 
        then <b>L</b>earning.

    </div>

    <h3> Program Supervisor </h3>
    <div class="par">
        Gregg Nolan <br>
        senior@socalnsp.org
    </div>

{% endblock %}