{% extends "header.html" %}

{% block content %}

    <h3> Snowboard Program </h3>
    <div class="par">
        It is time to sharpen your riding skills again! This year for SoCal NSP, we have 
        scheduled a total of 10 Snowboard Enhancement Clinics throughout Southern California. 
        Each class will be held at a different mountain. You will ride with a America 
        Association of Snowboard Instructors (AASI)  certified Level II and/or Level III 
        instructor/patroller. You will learn first had from the pros on proper gears, set up, 
        ride analysis, and work on your skills to improve to the next level.  
        
        <BR><BR>

        All Far West So Cal regional snowboard clinics are FREE. Please help keep these 
        clinics at no cost and make a 
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TBERA3YCAPGG6" target="_blank">
        DONATION </a>
        to help support new instructors with books 
        for the So Cal region.

    </div>
    
    <h3> Program Supervisor </h3>
    <div class="par">
        Mark Kukla <br>
        snowboarding@socalnsp.org
    </div>
    
{% endblock %}