
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

/* CHROME

    mint: rgb(204, 255, 204)
    teal: rgb(77, 219, 184)
    
    pale yellow: rgb(255, 255, 204)
    grayish yellow: rgb(230, 230, 184)
    
    pale cool blue: rgb(204, 230, 255)
    light green teal: rgb(153, 235, 214)

 SAFARI, FIREFOX

   minty: rgb(163, 255, 224)
   
*/

.background_image {
  clear: both;
  position: fixed;
  display: block;
  z-index: -1000;

  padding: 0;
  margin: 0;
  
  height: 100%;
  width: 100%;
  
  /* The new syntax needed by standard-compliant browsers (Opera 12.1,
       IE 10, Firefox 16, Chrome 26, Safari 6.1), without prefix */  
  /*background: #FFF;*/
  
  /*
  background-image: 
   -webkit-radial-gradient(50% 10%, circle,     rgb(184, 219, 255), rgba(184, 219, 255, 0.0) ),
   -webkit-radial-gradient(80% 50%, circle,     rgb(163, 255, 224), rgba(163, 255, 224, 0.0) ),
   -webkit-radial-gradient(20% 30%, 40em 40em,  rgb(204, 204, 122), rgba(204, 204, 122, 0.0) ),
   -webkit-radial-gradient(10% 10%, circle,     rgb(204, 255, 204), rgba(204, 255, 204, 0.0) );
    */
    
  background-image:
    radial-gradient(ellipse farthest-corner at 0% 100%, 
                    rgb(184, 219, 255) 30%,
                    rgb(163, 255, 224) 80%, 
                    rgb(204, 255, 204) 100% );
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  padding: 0px;
  margin: 0px;
  padding: 0px;
  
  font-family: Raleway, Arial;
  font-size: 15px;
  line-height: 1.5;

  color:#444;   /* #777: gray text color */
  min-width: 800px;
  height: 100%;
  width: 100%;
  width: auto;

  background-color: white; /* #cccccc --> gray */
  background-repeat: no-repeat;
  background-position: right top;
}

.sidebar-nav a
{
    outline: none;
}

div.modal-content {
    height: 80vh; /*Sets the height to 80/100ths of the viewport.*/
}
div.modal-body {
    height: 80%;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/***************************************************/
/* Clickable Region Map -- fix for small screen */
svg image
{
    opacity: 0.70;
}

svg text
{
    font-family: FontAwesome;
    font-size: 30px;
}

svg g > .title
{
    visibility: hidden;
}
svg g:hover > .title
{
    visibility: visible;
}

svg g:hover
{
    cursor: pointer;
    fill: #e60000;
}

/* High Sierra */
.mammoth-nordic
{
    fill: #55134e;
}
.mt-pinos
{
    fill: orange;
}
.alta-sierra
{
    fill: #A0596B;
}

/* Big Bear Section */
.big-bear
{
    fill: #006699;
}
.snow-valley
{
    fill: #777B88;
}
.lee-canyon
{
    fill: #BED661;
}

/* Angeles Section */
.buckhorn
{
    fill: #B76EB8;
}
.mt-baldy
{
    fill: #9C9F84;
}
.mountain-high
{
    fill: #996699;
}
.mt-waterman
{
    fill: teal;
}
.san-gabriel
{
    fill: #E86850;
}

/***************************************************/

