{% extends "header.html" %}

{% block content %}

<div class="par">

    <h2> Region Director </h2>
        Diana St. Clair <br>
        <a href="mailto:regiondirector@socalnsp.org" target="_top">regiondirector@socalnsp.org</a>
    
    <br><br>
    
    <h3> Assistant Region Director </h3>
        Lisa Larres-Jernigan
        
    <br><br>
    <table id="memberPatrols">
        <td>
            <h2> Angeles Section </h2>
            Section Chief: James Pruett
            <ul>
                <li><h4> <a href="http://www.orgsites.com/ca/buckhorn/">Buckhorn</a> </h4></li>
                Patrol Director: Keith McIver
                <li><h4><a href="http://www.mtbaldyskipatrol.org/"> Mt. Baldy </a></h4></li>
                Patrol Director: Keith Church
                <li><h4><a href="http://mountainhighskipatrol.com/"> Mountain High </a> </h4></li>
                Patrol Director: Scott Goodman
                <li><h4> <a href="http://www.mtwaterman.org/">Mt. Waterman</a> </h4></li>
                Patrol Director: James Pruett
                <li><h4> <a href="http://backcountrypatrol.com/">San Gabriel Back Country</a></h4></li>
                Patrol Director: Erik Siering
            </ul>
        </td>

        <td>
            <h2> Big Bear Section </h2>
            Section Chief: Karen Wentworth
            <ul>
                <li><h4> <a href="http://www.bigbearskipatrol.com">Big Bear</a> </h4></li>
                Patrol Director: Jim Murphy
                <li><h4> <a href="http://www.snow-valley.com/mountain_patrol.html">Snow Valley</a> </h4></li>
                Patrol Director: Lisa Larres
                <li><h4> <a href="http://www.skilasvegas.com/winter/index.html">Lee Canyon</a> </h4></li>
                Patrol Director: Harry Weldon
            </ul>
        </td>
    
        <td>
            <h2> High Sierra Section </h2>
            Section Chief: Tom Nykiel
            <ul>
                <li><h4> <a href="http://www.altasierra.com/">Alta Sierra</a> </h4></li>
                Patrol Director: Kris Reichert
                <li><h4> <a href="http://www.nordicbase.org/">Mt. Pinos Nordic</a> </h4></li>
                Patrol Director: Byron Taylor
                <li><h4> <a href="http://www.mammothskipatrol.com/">Mammoth Nordic Basin</a> </h4></li>
                Patrol Director: Wayne Wong
            </ul>
        </td>
    
    </table>
</div>
    
{% endblock %}
