{% extends "header.html" %}

{% block content %}
    <h3>
        <a name="welcome" class="anchor" href="#welcome">
            <span class="octicon octicon-link"></span>
        </a>
        Life of A Patroller
    </h3>
    
    <!-- Life of a Patroller from Vimeo embed -->
    <center>
        <iframe src="https://player.vimeo.com/video/35812911" 
            width="500px" height="281px" frameborder="0" 
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe><BR>
        
            <a href="https://vimeo.com/35812911">Life of a Patroller</a> 
            from <a href="https://vimeo.com/epicmountainproductions">
            EpicMountainProductions</a> on <a href="https://vimeo.com">Vimeo</a>.
    </center>
    
    <h3 id="about"> About </h3>
    <div class="par">
        As the leading authority of on-mountain safety, the NSP is dedicated to serving 
        the public and outdoor recreation industry by providing education and accreditation 
        to emergency care and safety service providers. The organization is made up of more 
        than 26,000 members serving over 600 patrols, including alpine, Nordic, and auxiliary 
        patrollers. Our members work on behalf of local ski and snowboard areas to improve 
        the overall experience for outdoor recreationalists.
        
        <br><br>
        
        The Southern California Region is comprised of about 500 registered National Ski 
        Patrol members from <a href="http://kholmbeck.github.io/html/MemberPatrols.html">eleven hills</a> 
        in the Southern California area.
        
        <br><br>
        
        There is one common thread that keeps all of us patrollers together, a vision to 
        provide educational programs and services to those who provide safety, outdoor 
        emergency care (OEC), and transportation services to others in their time of needs. 
        And we do this with pride.
    </div>

    <!--
    <h3> Events </h3>
    <div class="par">
        <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fsocalnsp.blogspot.com%2Ffeeds%2Fposts%2Fdefault%3Falt%3Drss&chan=y&num=3&desc=0&utf=y"  charset="UTF-8" type="text/javascript">
            
        </script>
        <noscript>
        <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fsocalnsp.blogspot.com%2Ffeeds%2Fposts%2Fdefault%3Falt%3Drss&chan=y&num=3&desc=1&utf=y&html=y">
            View RSS feed
        </a>
        </noscript>
    </div>
    -->
    
    <h3> Authors and Contributors </h3>
    <div class="par">        
        Developed by <a href="https://github.com/socalnspweb" class="user-mention">Kristin Holmbeck</a>.
    </div>

{% endblock %}
