{% extends "header.html" %}

{% block content %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1109260469105534',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <img class="im_right" height="250px" src="{{ url_for('static', filename='images/Eslick/Bill_and_Maggie.jpg') }}"></img>

    <h3> Bill Eslick </h3>
    <div class="par">
        William Robert Eslick, Jr (Bill), 61, died February 6, 2016 in a tragic skiing 
        accident while on duty as a Ski Patroller on Mount Waterman, Angeles Crest Highway. 
        Bill was a black diamond skier and certified Ski Patroller through the Southern 
        California Ski Patrol. He volunteered at several mountains in southern CA 
        including Mount Waterman and Mountain High.  He assisted in the training of 
        new patrollers including training on the use of the toboggan in rescues.
 
    </div>
    
    <img class="im_right" height="350px" src="{{ url_for('static', filename='images/Eslick/Patrol_Team.jpg') }}"></img>
    
    <BR><Br><BR><BR>
    <h2></h2>
    <div class="par">        
        Bill was Director of Opto-Mechanical Engineering at Panavision and received an 
        Academy award in the Scientific and Engineering category for his part in the design 
        of the cameras used in the film “Far and Away”.
 
        <br><br>
        
        Bill was the son of the late Eleanor Dorothy Eslick and is survived by his beloved 
        wife, Maureen Eslick of Winnetka, his sister and brother-in-law Darlene and Bob 
        Merriweather, his brother Robert Eslick and many nieces and nephews.
 
        <br><br>
        
        In lieu of flowers, please send a donation to the National Ski Patrol-Southern California Region.
        
    </div>
    
    
    <BR><Br><BR><BR>
    <h3> Donate </h3>
    <div class="par">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="PT2U7L2STPB9S">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
        <br>
        Click the link above to donate to the Bill Eslick Memorial Fund.
        <br><br><br>
        
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <br>

        <div class="fb-comments" data-href="http://www.socalnsp.org/bill" data-numposts="5"></div><br>

        <br><br>

    </div>

{% endblock %}
