{% extends "header.html" %}

{% block content %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1109260469105534',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <h3> Bill Eslick </h3>
    <div class="par">
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <br>

        <br>
        <div class="fb-comments" data-href="http://www.socalnsp.org/bill" data-numposts="5"></div><br>

        <br><br>

    </div>

{% endblock %}
