<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible content="chrome=1">
    <title>NSP Southern California Region</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/bootstrap.min.js') }}"></script>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mobile_styles.css') }}">

    <link rel="icon" ref="shortcut icon" href="{{ url_for('static', filename='images/nsp_logo.ico') }}">

    <meta name="viewport content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60067381-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="{{ url_for('static', filename='javascripts/toggleMenu.js') }}" </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <div class="background_image"></div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div class="navbar" id="sidebar-wrapper">
            <ul class="sidebar-nav">
            
                <li class="sidebar-brand">
                    <a href="{{url_for('home')}}">
                        <img src="{{ url_for('static', filename='images/Logo_WhiteCross_WhiteBorder2.png') }}">

                        <h2> Southern California Region </h2>
                    </a>
                </li>
                
                <li {% if request.path=="/about" %}class="activeLink"{% endif %}>
                    <a href="{{url_for('gen_route', url_name='about')}}">
                        <table>
                            <td><span class="glyphicon glyphicon-info-sign"></span></td>
                            <td> About </td>
                        </table>
                    </a>
                </li>
                
                <li {% if request.path=="/join" %}class="activeLink"{% endif %}>
                    <a href="{{url_for('gen_route', url_name='join')}}">
                        <table>
                            <td><span class="glyphicon glyphicon-plus"></span></td>
                            <td> Join </td>
                        </table>
                    </a>
                </li>

                <li style="cursor: pointer;"><a data-toggle="modal" data-target="#calendar">
                    <table>
                        <td><span class="glyphicon glyphicon-calendar"></span></td>
                        <td> Calendar </td>
                    </table>
                </a></li>
                
                <li {% if request.path=="/news" %}class="activeLink"{% endif %}>
                    <a href="/news">
                        <table>
                            <td><span class="glyphicon glyphicon-pencil"></span></td>
                            <td> News </td>
                        </table>
                    </a>
                </li>
                
                <li {% if request.path=="/programs" %}class="activeLink"{% endif %}>
                    <a href="{{url_for('gen_route', url_name='programs')}}">
                        <table>
                            <td><span class="glyphicon glyphicon-list-alt"></span></td>
                            <td> Programs </td>
                        </table>
                    </a>
                </li>
                
                <li {% if request.path=="/patrols" %}class="activeLink"{% endif %}>
                    <a href="{{url_for('gen_route', url_name='patrols')}}">
                        <table>
                            <td><span class="glyphicon glyphicon-globe"></span></td>
                            <td> Patrols <td>
                        </table>
                    </a>
                </li>
                
                <li><a href="mailto:admin@socalnsp.org" ui-sref-active>
                    <table>
                        <td><span class="glyphicon glyphicon-phone-alt"></span></td>
                        <td> Contact Us </td>
                    </table>
                </a></li>
                
                <!--li>
                    <a href="https://www.facebook.com/groups/113832905318788/">
                       <img src="static/images/FB_logo_57.png">
                    </a>
                   <br>
                   <small> Copyright &copy 2015 Southern California Region NSP</small>
               </li-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Calendar modal -->
        <div id="calendar" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Calendar</h4>
                    </div>
                    
                    <div class="modal-body">
                        <iframe src="https://www.google.com/calendar/embed?src=socalnspweb%40gmail.com&ctz=America/Los_Angeles"
                            style="border:0" frameborder="0" scrolling="no"
                            width="100%" height="100%">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-top">
            <a href="{{url_for('home')}}">
                <img src="{{ url_for('static', filename='images/Logo_WhiteCross_WhiteBorder2.png') }}">
            </a>
            Southern California Region
            <div id="menuIcon" class="pull-right">
                <button type="button" class="btn btn-default" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
        </nav>
        
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="banner">
                    <h2 id="pageTitle"> {{ pageTitle }} </h2>

                    {% if pageTitle=="Bill Eslick Fund" %}
                        <img src="{{ url_for('static', filename='images/Eslick/Toboggan_Trainer.jpg') }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/banner.png') }}">
                    {% endif %}

                </div>
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        // Trigger click when clicking outside of menu for small page 
        $("#page-content-wrapper").click(function(e) {
            //e.preventDefault();

            if( $("#wrapper").hasClass("toggled") )
               $("#menu-toggle").trigger("click")
        });
    </script>

</body>
</html>