{% extends "header.html" %}

{% block content %}

    <div class="par">

    <!--
    <div class="box_container">
        <a href="{{ url_for('gen_route', url_name='sponsors') }}">
            <div class="box_title">
                <h3> Sponsors </h3>
            </div>
        </a>
    </div>
    -->

    <div class="row text-center"><h2>
        <a href="http://socalnsp.blogspot.com/2017/01/avalanche-classes-reserve-your-spot.html" target="_blank">
            <b> Limited Avalanche classes -- click here! </b>
        </a></h2>
    </div><br><BR>
    <div class="row text-center" style="max-width:70%">
        <img class="img-responsive center-block" src="{{ url_for('static', filename='temp_images/SWAP1.jpg') }}"></img>
    </div>
    <hr>
    <div class="row text-center" style="max-width:70%;">
        <img class="img-responsive" src="{{ url_for('static', filename='temp_images/Always wanted to be a Ski Patroller.png') }}"></img>
    </div>
    <hr>
    <div class="row text-center" style="max-width:70%;">
        <img class="img-responsive" src="{{ url_for('static', filename='temp_images/ski dazzle 2016 map.png') }}"></img>
    </div>
    <hr>

    <!-- -->
    <div class="row">
        <a href="{{ url_for('gen_route', url_name='bill_eslick_fund') }}">
            <div class="box_title">
                <h3> Bill Eslick Memorial Fund >> </h3>
            </div>
        </a>
    </div>
    <!-- -->

</div>

{% endblock %}
