{% extends "header.html" %}

{% block content %}

    <div class="par">

    <!--
    <div class="box_container">
        <a href="{{ url_for('gen_route', url_name='sponsors') }}">
            <div class="box_title">
                <h3> Sponsors </h3>
            </div>
        </a>
    </div>
    -->

    <div class="row text-center" style="max-width:90%;">
        <img class="img-responsive" src="{{ url_for('static', filename='temp_images/Always wanted to be a ski patroller.png') }}"></img>
    </div>
    <hr>
    <div class="row text-center" style="max-width:90%;">
        <img class="img-responsive" src="{{ url_for('static', filename='temp_images/ski dazzle 2016 map.png') }}"></img>
    </div>
    <hr>

    <!-- -->
    <div class="row">
        <a href="{{ url_for('gen_route', url_name='bill_eslick_fund') }}">
            <div class="box_title">
                <h3> Bill Eslick Memorial Fund >> </h3>
            </div>
        </a>
    </div>
    <!-- -->

</div>

{% endblock %}
