{% extends "header.html" %}

{% block content %}

    <!--
    <div class="par">
    
    <div class="box_container">
        <a href="{{ '/news' }}">
            <div class="box_title">
                <h3> News </h3>
            </div>
        </a>
    </div>
  
    <a href="{{ '/join' }}">
        <div class="box_container">
            <div class="box_title">
                <h3> Join </h3>
            </div>
        </div>
    </a>
    
    </div>
    -->
      
    <div class="hover_title">
        2015 - 2016 Sponsors
    </div>

    <div class="hover_title">
        Bill Eslick Memorial Fund
    </div>    

{% endblock %}
