{% extends "header.html" %}

{% block content %}
        <img class="pull-right" height="350px" src="{{ url_for('static', filename='images/service_safety_nsp.png') }}"></img>

    <h3> We're A Different Breed </h3>
    <div class="par">
            
        When it comes to being a ski patroller, there is no mold. 
        There are however, some common traits that all patrollers share. 
        National Ski Patrol members have a strong desire to help others, 
        learn emergency care techniques, improve their skiing and snowboarding 
        skills, and enhance the safety and enjoyment of snow sports for all. 
        
        <BR><BR>
            
        Sound like you? Read on to learn how you can join our elite team. 
        
    </div>

    <h3> First On, Last Off </h3>
    <div class="par">
        
        National Ski Patrol members support their area management in 
        preparing the mountain in the morning, rescuing and caring for 
        injured guests throughout the day and making sure everyone gets 
        down safely when the mountain closes. Sure it's a long, 
        action-packed day, but there's nothing more rewarding than putting 
        in a hard day's work while having a good time and making lifelong 
        friends in the process. 

    </div>
    
    <h3> The Process </h3>
    <div class="par">
        There are three types of patrollers: <BR>
        
        <ol>
            <li><b> Patroller </b></li>
            A person who provides emergency care to injured or ill guests, 
            but does not transport guests off the hill/slope. Patrollers 
            also respond to base-area incidents
            
            <li><b> Alpine Patroller </b></li>
            A person who provides emergency care to injured or ill area 
            guests, but also may be responsible for a wide variety of area 
            safety activities. Alpine patrollers transport guests in rescue 
            toboggans using alpine skiing (downhill) equipment.
            
            <li><b> Nordic Patroller </b></li>
            A person who provides emergency care to injured or ill area 
            guests, but also may be responsible for a wide variety of area 
            safety activities. Nordic patrollers transport guests in rescue 
            toboggans using nordic skiing (cross country) equipment.
            
        </ol>
        
        Prior to the season beginning, several courses are required: 
        Outdoor Emergency Care (OEC), AED (auto. external defibrillator), 
        and CPR for the Professional Rescuer. Together, these take about 
        90-120 hours.  Courses are held throughout greater Southern CA area. 
        OEC is the National Ski Patrol (NSP) course, but a certified MD, 
        EMT, Nurse, or other health professionals can challenge the OEC course.

        <BR><BR>
        
        Aside from passing tests (e.g. skiiing/snowboarding, radio codes, etc.), 
        the better part of your candidate season will be in toboggan training 
        (for alpine & nordic candidates), and mountain procedures. 
        There is also a brief mentoring program for to familiarize candidates 
        with the area and patrol procedures. 

        <BR><BR>
    </div>
    
    <h3> Expectations </h3>
    <div class="par">
        Patrollers generally are required to work about 14 days per season, 
        depending on the length of the season (generally late November to early April) 
        and the number of patrollers on the team. Shifts for volunteers are 
        Saturdays and Sundays. You can also work certain holidays 
        (Presidents Day, Christmas week, Easter, etc). You are allowed to 
        trade duty days so there is flexibility in your schedule.

        <BR><BR>
        
        In order to remain certified, all patrollers must complete refresher 
        courses in CPR, AED, first aid (OEC), and on-the-hill procedures each year. 
        The CPR/AED, OEC, and on-the-hill refresher takes place over 1 weekend 
        (usually late in October) before the season starts.  
    </div>
    
    <h3> Benefits </h3>
    <div class="par">
        Benefits include: working with some of the greatest individuals who 
        share your enthusiasm for outdoor sports, pro deals (~40-50% off gear), 
        ski passes, lots of good skiing, social activities, and satisfaction 
        in helping. There is also continuing education available in avalanche, 
        mountain survival, senior level skiing/tobogganing and first aid, etc. 

        <BR><BR>
        
        You also have the opportunity to become a patrol instructor 
        (first aid, CPR, toboggan, avalanche, etc.) or get involved in other 
        ways with the running of the patrol (board member, patrol director, 
        officer, event planner, etc.). You get out of it what you put in. 
        Many of the patrollers have 20+ years of seniority and they're always willing to help. 
    </div>
    
    <h3> Ready To Join? </h3>
    <div class="par">
        <b> <a href="{{url_for('contact')}}">Contact us!</a> </b>
    </div>
    
{% endblock %}