{% extends "header.html" %}

{% block content %}

    <h2> Southern California Region News </h2>
    
    <div class="par">
        <h3> {{ other_news['title'] }}</h3>
            {{ other_news['summary'] | safe }}
            <br>
            
            <a href="http://www.simmzys.com/">
            <img src="{{ url_for('static', filename='temp_images/Simmzys_LogoWithTag.png') }}", height='200px'>
            </a>
        <hr>
        
        {{ title_news | safe }}
        
        <hr>
        <h3> More news: </h3>
        <ul>
            {{ rss_feed | safe }}
        </ul>
        <hr>
        
        <br>
        For more news, visit our blog: <a href="http://socalnsp.blogspot.com/">socalnsp.blogspot.com</a>.
        
    </div>
    
{% endblock %}