{% extends "header.html" %}

{% block content %}
    
    <h3> 2015 - 2016 Sponsors </h3>
    <div class="par">
        Thank you to all who support the Southern California Region of the 
        National Ski Patrol! Here are some featured sponsors for this season:
        <br><br>
        
        <a href="http://www.marriott.com/hotels/travel/laxbh-residence-inn-long-beach/">
        <img height="100px" 
            src="{{ url_for('static', filename='temp_images/sponsors/residence_inn_LB.png') }}">
        </img>
        </a>
        
        <br><br>
        
        <a href="http://www.bombethospitalitygroup.com/">
        <img width="300px"
            src="{{ url_for('static', filename='temp_images/sponsors/BHG.png') }}">
        </img>            
        </a>
        <br><br>
        
        <h4>
        Randy and Patty Winograd
        </h4>
        
        <h4> Christopher Mercurio </h4>
        <h4> Cindy Dugger </h4>
        <h4> David Mercier </h4>
        <h4> Diane Moller </h4>
        <h4> Gregg Nolan </h4>
        <h4> James Murphy </h4>
        <h4> James Pruett </h4>
        <h4> Jeremy Kahn </h4>
        <h4> Karen Dougherty </h4>
        <h4> Keith Church </h4>
        <h4> Kelly Fujikawa </h4>
        <h4> Leee Canyon Ski Resort </h4>
        <h4> Regina Reilly </h4>
        <h4> Rene Bogue </h4>
        <h4> Richelle Hoover </h4>
        <h4> Sharon Sharp </h4>
        <h4> Stephen Sealy </h4>
        <h4> Vladimir Kasperovich </h4>
        
        <br><br>

    </div>

{% endblock %}
