{% extends "header.html" %}

{% block content %}
    
    <h3> 2015 - 2016 Sponsors </h3>
    <div class="par">
        Thank you to all who support the Southern California Region of the 
        National Ski Patrol! Here are some featured sponsors for this season:
        <br><br>
        
        <a href="http://www.marriott.com/hotels/travel/laxbh-residence-inn-long-beach/">
        <img height="100px" 
            src="{{ url_for('static', filename='temp_images/sponsors/residence_inn_LB.png') }}">
        </img>
        </a>
        
        <br><br>
        
        <a href="http://www.bombethospitalitygroup.com/">
        <img width="300px"
            src="{{ url_for('static', filename='temp_images/sponsors/BHG.png') }}">
        </img>            
        </a>
        <br><br>
        
        <h4>
        Randy and Patty Winograd
        </h4>
        
        <br><br>

    </div>

{% endblock %}
